/* Cores:
#002f5c  - azul
#f3d500  - amarelo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'montserrat' , sans-serif;
    box-sizing: border-box;
}
/**********HEADER************************/

header {
    background-color: #002f5c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.contatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem
}

.endereço{
    font-size: 0.7rem;
    display: flex;
    justify-content: space-around;
}

.telefone{
    margin-right: 50px;
    
}

#icons{
    margin-left: 8px;
    font-size: 0.7rem;
    color: #f3d500;
}

/************************************NAV*****************************/

a.nav-link{
    font-size: 12px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    scale: 1.5;
    color: #f3d500;
}

.logo h1{
    color: #002f5c;
    font-weight: bold;
}

i{
    margin-right: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list ul{
    display: flex;
    list-style: none;
    
}

.nav-item {
   margin: 0px 15px;
   
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    font-weight: bold;
    color: #002f5c;
}

.login-button button{
    border: none;
    background-color: #f3d500;
    padding: 20px 70px;
}

.login-text a{
    color: white;
    font-weight: bold;
}

.login-text{
    color: white;
}

/************************************HOME***********************************/

.banner{
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(./Img/tecnologia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 91.7vh;
    display: flex;
    align-items: center;
}

.text-banner{
    display: flex;
    font-weight: bold;
    margin-left: 300px;
    font-size: 55px;
    color:white;
    flex-direction: column;
    align-items: center;
}
.btn-img1{
   width: 150px;
   height: 50px;
   border-radius: 0;
   border-color: #f3d500;
   background-color: #f3d500;
   cursor:pointer;
   color: white;
   font-weight: bold;
}
.btn-img2{
    width: 150px;
   height: 50px;
   border-radius: 0;
   border-color: white;
   background-color: white;
   cursor:pointer;
   font-weight: bold;
}


#back{
    top: 52%;
    left: 10%;
    
}

#next{
    top: 52%;
    right: 10%;
    
}

/***********************SOBRE*****************************************/

#bloco1>h2{
    color: #002f5c;
    display: inline;
    font-size: 2em;
}
#bloco1>p{
    margin-top: 30px;
}
.item>h3{
    font-size: 1.2em;
    margin-left: 30px;
    margin-bottom: 15px;
}
h3>a{
    text-decoration: none;
    color: #002f5c;
}
.amarela{
    position: relative;
    top: 30px;
    }
#pt2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 50px;
 }
#servicos{
    max-width: 600px;
    margin-left: 10px;
}
#bloco2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    max-width: 280px;
    height: 200px;

}
.item>p{
    height: 140px;
}
#img{
    background-image: url(./Img/escritorio.jpg);
    background-position: center center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    width: 650px;
    height: 600px;
}
#imgp{
    position: relative;
    left: 270px;
    top: -50px;
    border: 20px solid #fff;
}

/**********************************EQUIPE*************************************/


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 30px;
    width: 90%;
    margin-left: 60px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #666768ec;;
    overflow: auto;
    height: auto;
    border: none;
    margin-top: auto;
    padding: 0%;
  }

  .card img {
    width: 50%;
    height: 150px;
    display: block;
    margin-left: 70px;
    margin-top: 10px;
    object-fit: cover;

    border-radius: 25px;
  }

  .card h2 {
    margin-top: 50px;
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #f3d500;;
  }

  h3{
text-align: center;
color: #f3d500;
  }

.card p {
    margin: 3px;
    font-size: 1rem;
    text-align: center;
    color: #00305cec;;

}

/************************************CONTATO***************************/

.container{
    max-width: 960px;
    margin: 0 auto; /*centralizar*/
    padding: 0 2%; /*espaçamento entre eles*/
}

.clear{
    clear: both;
}

.w50{
    float:left;
    width: 50%;
    padding:0 10px;
}

.w100{
    float:left;
    width: 100%;
    padding:0 10px;
}

/*estilo proprio*/


h2{
    text-align: center;
    color: rgb(6, 6, 75);
    padding: 10px 0;
    font-size: 30px;
    margin-top: 40px;
    text-transform:uppercase; /*deixar maiusculo*/
}

.form-group label{
    display:block;
    margin: 8px 0;
    color: #0e0c0c;
}

.form-group input[type=text]{
    width: 100%;
    padding-left: 8px;
    height: 40px;
    margin-top: 6px;
    border: 1px solid #080303;
}

.form-group input[type=submit]{
    width: 140px;
    height: 40px;
    background: #f3d500;
    color: white;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;

    }

.form-group textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 10px;
}

.button_contato{
    width: 150px;
    height: 50px;
    border-radius: 0;
    border-color: #f3d500;
    background-color: #f3d500;
    cursor:pointer;
    color: white;
    font-weight: bold;
    text-align: center;
}

.contato_button{
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 500px){
    .w50{width: 100%;}
}

/* ****************FOOTER ****************/

footer {
    box-shadow: 0px -1px 0px 0px #000000;
    padding: 12px;
    text-align: center;
    color: white;
    background-color: #002f5c;
    font-size: 10px;
  }

  /*****************************************RESPONSIVO**************************/
  